.vs

Debug
Release
Dependencies

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

CMake/
SGGX_TAA/SGGX_TAA
SGGX_TAA/cmakelists
bin/
lib/

/SGGX_TAA/Debug
/SGGX_TAA/Release

*/.vscode/

*/chestnut

*.swp
*.zip

*.dat
*.rar

videos/*.png
tmp_frames/*.mp4
